<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Alta Booking</title>
        <style>
        body {
            color: #231f20;
        }
        .page-break {
            page-break-before: always;
        }

        .bg-main {
            background: #23b7ca;
        }

        .calendarIcon {
            background: url(calenderIcon.png) no-repeat right 10px top 0;
            background-size: 15px auto !important;
            padding-right: 30px;
        }

        .locationIcon {
            background: url(locationIcon.png) no-repeat right 10px top 0;
            background-size: 15px auto !important;
            padding-right: 30px;
        }

        .clockIcon {
            background: url(clockIcon.png) no-repeat right 10px top 0;
            background-size: 15px auto !important;
            padding-right: 30px;
        }

        .distanceIcon {
            background: url(distanceIcon.png) no-repeat right 10px top 0;
            background-size: 22px auto !important;
            padding-right: 30px;
        }

        .turmIconSm {
            background: url(termIconSm.png)0 50% no-repeat;
            padding-left: 30px;
            margin-right: 20px;
            line-height: 25px;
            display: inline-block;
            color: #23b7ca;
        }

        .tripDetails p {
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 7px;
        }

        .links a {
            display: block;
            color: #23b7ca;
            text-decoration: none;
            font-size: 14px;
            margin-bottom: 7px;
        }

        .btn-main {
            color: #fff;
            background-color: #23b7ca;
            border-color: #168f9f;
            display: inline-block;
            padding: 15px 20px;
            text-align: center;
            line-height: 120%;
            border-radius: 30px;
            text-decoration: none;
        }

        .btn-main:hover {
            background-color: #168f9f;
        }

        .dwnloadStore li {
            list-style: none;
            display: inline-block;
            vertical-align: middle;
        }

        .dwnloadStore li img {
            width: 100px;
            display: block;
            margin: 0 auto;
        }


    </style>
    </head>
    <body paddingwidth="0" paddingheight="0"
        style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; margin:0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;"
        offset="0" toppadding="0" leftpadding="0"
        style="margin-left:5px; margin-right:5px; margin-top:0px; margin-bottom:0px;">
        <table width="85%" border="0" cellspacing="0" align="center"
            cellpadding="0"
            style='font-family:helvetica, sans-serif; color:#000;'>

            <tr>
                <td
                    style=" padding:10px; width: 100%;padding-bottom: 60px;border-bottom: 1px solid #01bdd6;"
                    colspan="2">
                    <img style="border: 3px solid #01bdd6;
                        padding: 7px;
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 25px;object-fit: cover;float: left;"
                                src="https://devadmin.altabooking.com/uploads/limo/pdf/booking-confirmation-logo.png" />
                    <div>
                        <h4 style="font-size: 22px;
                        font-weight: 700;
                        padding-bottom:0px;color: #000;margin-bottom: 0;">Booking
                            Confirmation</h4>
                        <p style="font-size: 18px;color: #000;">Thank you for
                            choosing Alta Booking.</p>
                    </div>
                </td>
            </tr>

            <tr>
                <td style="font-size:16px; color:#333; width: 100%;"
                    colspan="2">
                    <p
                        style="color:#414141; font-size:15px; line-height:24px; padding: 10px;">
                        Dear sdvsv cxvs,<br />
                        Congratulations! Thank you for using Alta Booking
                        facility. Your service
                        has been booked and the details are indicated
                        below.</p>
                </td>
            </tr>

            <tr>
                <td
                    style="width: 100%; text-align:center; background:#f8f8f8; padding-top:10px; padding-bottom:10px; border-top:solid 1px #ddd; border-bottom:solid 1px #ddd;"   
                    colspan="2">
                    <h3
                        style="margin:0 0 15px; color:#231f20; font-size:20px; font-weight:600;">
                        sdvsv cxvs
                    </h3>
                    <p
                        style="margin-top:0; margin-bottom:3px; color:#231f20; font-size:14px;">
                        Confirmation Number: <strong>BKG1726134150</strong>
                    </p>
                    <p
                        style="margin-top:5px; margin-bottom:3px; color:#231f20; font-size:14px;">
                        Booking Date: <strong>Thursday 12 Sep 2024</strong>
                    </p>
                </td>
            </tr>
            <!-- <tr style="page-break-before:always">&nbsp;</tr> -->
            <tr>
                <td colspan="2">
                    <div style="page-break-before: always;">&nbsp;</div>
                </td>
            </tr>




            <tr>
                <td valign="top" colspan="2"
                    style="text-align:center;width: 100%; padding-left:10px; padding-bottom:10px; background-color: #d4d4d4;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;padding: 15px;font-size:18px;">
                    <h4
                        style="margin-top:5px; margin-bottom:0px; font-size:18px;">Economy - Audi A6</h4>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="tripDetails" style>
                    <table width="100%"
                        style="border:1px solid #ccc;margin-bottom: 20px;">
                        <tr style>
                            <td valign="top"
                                style="border-right:solid 1px #ccc; border-bottom:solid 1px #ccc; width:50%; padding: 15px;">
                                <h4
                                    style="margin-top:0px; margin-bottom:5px; padding: 0 10px; font-size:18px; color:#231f20;;">
                                    PickUp Information</h4>
                                <p class="calendarIcon"
                                    style="margin:0; padding: 0 10px; font-size:16px; color:#666;font-size: 16px;">Thu 19 Sep 2024</p>
                                <p class="clockIcon"
                                    style="margin:0; padding: 0 10px 0px; font-size:16px; color:#666;font-size: 16px;">15:05</p>
                                <p class="clockIcon"
                                    style="margin:0; padding: 0 10px 0px; font-size:16px; color:#666;font-size: 16px;">לונדון, בריטניה</p>
                            </td>
                            <td valign="top"
                                style="width:50%; border-bottom:solid 1px #ccc; padding: 15px;">
                                <h4
                                    style="margin-top:0px; margin-bottom:5px; padding: 0 10px; font-size:18px; color:#231f20;">
                                    Drop-Off Information</h4>
                                <p class="calendarIcon"
                                    style="margin:0; padding: 0 10px; font-size:16px; color:#666;">Thu 19 Sep 2024</p>
                                <p class="clockIcon"
                                    style="margin:0; padding: 0 10px 0px; font-size:16px; color:#666;">17:35</p>
                                <p class="clockIcon"
                                    style="margin:0; padding: 0 10px 0px; font-size:16px; color:#666;">Bristol, UK</p>
                            </td>
                        </tr>
                        <tr style>
                            <td valign="top"
                                style="border-right:solid 1px #ccc; width:50%;padding: 15px;">
                                <h4
                                    style="margin-top:0px; margin-bottom:5px; padding: 0 10px; font-size:18px; color:#231f20;">
                                    Duration</h4>
                                <p class="clockIcon"
                                    style="margin:0; padding: 0 10px; font-size:16px; color:#666;">2 hours 30 mins</p>
                            </td>
                            <td valign="top" style="width:50%;padding: 15px;">
                                <h4
                                    style="margin-top:0px; margin-bottom:5px; padding: 0 10px; font-size:18px; color:#231f20;">
                                    Distance</h4>
                                <p class="clockIcon"
                                    style="margin:0; padding: 0 10px; font-size:16px; color:#666;">About 189 km</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="tripDetails"
                    style="padding-top:0px; padding-bottom:10px;height:200px;margin:bottom:20px">
                    <table width="100%"
                        style="height:200px;border: 1px solid #ccc;">
                        <tr>
                            <td colspan="3" style="background:#231f20;">
                                <h4
                                    style="font-size:18px; font-weight: 500; margin:0; text-align:center; color:#fff; padding: 10px;">
                                    Service Details </h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="height: 15px;"></td>
                        </tr>

                        <tr>
                            <th align="center">
                                <!-- Image  -->
                            </th>
                            <th align="center"
                                style="padding: 0;margin:0">Category</th>
                            <th align="center"
                                style="padding: 0;margin:0">Car Model</th>
                        </tr>
                        <tr>
                            <td align="center"
                                style="font-size:14px; color:#666;"><img
                                    style="display:block;width:200px;"
                                    src="https://static-beta.talixo-staging.com/images/vehicles/economy.png" /></td>
                            <td align="center"
                                style="font-size:14px; color:#666;"
                                style="padding: 0;margin:0">Economy</td>
                            <td align="center"
                                style="font-size:14px; color:#666;"
                                style="padding: 0;margin:0">Audi A6</td>
                        </tr>

                    </table>

                </td>
            </tr>

            <tr style="background-color: #d0d0d0 ;">
                <td style="border:1px solid #d4d4d4;padding:0 15px;margin-top:20px">

                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td>
                                    <h6
                                        style="font-weight:400;padding:0!important">
                                        <span
                                            style="font-size:18px;font-weight:700">Pin
                                            :</span><span
                                            style="font-size:18px">3328</span>
                                    </h6></td>
                                <td><h6
                                        style="font-weight:400;border-left:1px solid #d4d4d4;padding-left:20px">
                                        <span
                                            style="font-size:18px;font-weight:700">Distance
                                            :</span>
                                        <span style="font-size:18px">189
                                            km</span>
                                    </h6></td>
                                <td> <h6
                                        style="font-weight:400;border-left:1px solid #d4d4d4;padding-left:20px">
                                        <span
                                            style="font-size:18px;font-weight:700">Duration
                                            :</span><span
                                            style="font-size:18px">2 hours 30
                                            mins</span>
                                    </h6></td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>

            <tr>
                <td class="tripDetails"
                    style="border-bottom:dotted 1px #ccc; padding-top:20px; padding-bottom:20px;">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td
                                    style="border-right:dotted 1px #ccc; padding-right:10px; width:50%"
                                    valign="top">
                                    <h2>Booking and Cancellation Policy</h2>
                                    <h4
                                        style="margin-top:10px;font-size:18px">Instant
                                        Payment at Booking</h4>
                                    <p style="margin-bottom:20px;">Full
                                        payment is required at the time of
                                        booking your transfer service. Your
                                        reservation is
                                        confirmed immediately upon
                                        payment.</p>
                                    <h4
                                        style="margin-top:10px;font-size:18px">Cancellation
                                        Policy:</h4>
                                    <p style="margin-bottom:20px;">You may
                                        cancel free of charge up to 30 days
                                        before the scheduled transfer date.
                                        If you cancel
                                        or modify the booking within 30 days
                                        before the scheduled transfer, or in
                                        case of a no-show,
                                        the fee will be the total price of
                                        the reservation.</p>
                                    <h4
                                        style="margin-top:10px;font-size:18px">In
                                        Case of Transfer Service Provider
                                        Insolvency or Inability to Honor
                                        Booking:</h4>
                                    <p style>In the rare event that a
                                        transfer service provider becomes
                                        insolvent or cannot honor your
                                        booking for genuine reasons, we will
                                        endeavor to arrange an alternative
                                        transfer service at no
                                        additional cost. If we are unable to
                                        provide an alternative, a full
                                        refund will be issued.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>



            <tr>
                <td colspan="2">
                    <div style="page-break-before: always;">&nbsp;</div>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="tripDetails"
                    style="padding-top:20px; padding-bottom:0px;">
                    <table width="100%" style>
                        <tr>
                            <td colspan="2" style="background:#231f20;">
                                <h4
                                    style="font-size:18px; font-weight: 500; margin:0; text-align:center; color:#fff; padding: 10px;">
                                    Payment Summary</h4>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:50%;">
                                <p style="margin:0; padding: 10px;"> Price
                                    Exclusive Of VAT</p>
                            </td>

                            <td valign="top"
                                style="width:50%; text-align:right;">
                                <p style="margin:0; padding: 10px;"><strong>
                                        £ 112.91
                                    </strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:50%;">
                                <p
                                    style="margin:0; color:#cd2a00; padding: 10px;">Total
                                    Discount</p>
                            </td>

                            <td valign="top"
                                style="width:50%; text-align:right;">
                                <p
                                    style="margin:0; color:#cd2a00; padding: 10px;"><strong>
                                        £ 0.00
                                    </strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:50%;">
                                <p style="margin:0; padding: 10px;">VAT</p>
                            </td>

                            <td valign="top"
                                style="width:50%; text-align:right;">
                                <p style="margin:0; padding: 10px;"><strong>
                                        £ 22.58
                                    </strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top"
                                style="width:50%; border-top:solid 1px #ddd; background:#f8f8f8;">
                                <p
                                    style="margin:0; padding: 10px;"><strong>Total
                                        Price</strong></p>
                            </td>

                            <td valign="top"
                                style="width:50%; text-align:right; border-top:solid 1px #ddd; background:#f8f8f8;">
                                <p
                                    style="margin:0; color:#cd2a00; padding: 10px;"><strong>
                                        £ 135.49
                                    </strong></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <table width="100%" border="0" cellspacing="0"
                        cellpadding="0">
                        <tr>
                            <td class="tripDetails"
                                style="padding-top:20px; padding-bottom:10px;">
                                <table width="100%" style>
                                    <tr>
                                        <td style="background:#231f20;">
                                            <h4
                                                style="font-size:18px; font-weight: 500; margin:0; text-align:center; color:#fff; padding: 10px;">
                                                Customer Information</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tripDetails"
                                            style="padding-top: 10px;">
                                            <p
                                                style="font-size:14px; padding:0; color:#231f20; margin:5px 0 7px; padding: 0 10px;">
                                                Customer Name: <strong>sdvsv cxvs</strong></p>
                                            <p
                                                style="font-size:14px; padding:0; color:#231f20; margin:5px 0 7px; padding: 0 10px;">
                                                Email: <strong>altanode33@yopmail.com</strong></p>
                                            <p
                                                style="font-size:14px; padding:0; color:#231f20; margin:5px 0 7px; padding: 0 10px;">
                                                Phone: <strong>+91 9382492931</strong></p>
                                            <p
                                                style="font-size:14px; padding:0; color:#231f20; margin:5px 0 7px; padding: 0 10px;">
                                                Country: <strong>India</strong></p>
                                            <p
                                                style="font-size:14px; padding:0; color:#231f20; margin:5px 0 7px; padding: 0 10px;">
                                                State/Region: <strong>Delhi</strong></p>
                                            <p
                                                style="font-size:14px; padding:0; color:#231f20; margin:5px 0 7px; padding: 0 10px;">
                                                City: <strong>asdas23</strong></p>
                                            <p
                                                style="font-size:14px; padding:0; color:#231f20; margin:5px 0 7px; padding: 0 10px;">
                                                Postal Code: <strong>23554</strong></p>
                                            <p
                                                style="font-size:14px; padding:0; color:#231f20; margin:5px 0 7px; padding: 0 10px;">
                                                Address: <strong>nbvg</strong></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="border-bottom:solid 1px #ddd; height: 20px;"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <table width="100%" style>
                        <tr>
                            <td>
                                <p
                                    style="color:#b6b6b6; font-size:13px; line-height:18px; margin:0; padding: 10px;">If
                                    you
                                    have any queries regarding your booking,
                                    please contact Alta Booking customer
                                    care -
                                    support@altabooking.com with booking
                                    confirmation number: BKG1726134150</p>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>

        </table>

    </body>
</html>